  <div class="vertical-center border-box">
<div class="row working-area">
  <div class="col-md-1">

  </div>
  <div class="col-md-2 offset-md-1 forecast-area" *ngFor="let forecast of forecasts">
        <p class="text-color-grey text-center">{{forecast.date | date : 'EEE'}}</p>
        <img class="img-responsive center-block" style="min-height: 80px" [src]="forecast.icon"/>
        <div>
          <p class="pull-left"> {{forecast.maxTemperature}}<span>&#8451;</span></p>
          <p class="pull-right text-color-grey "> {{forecast.minTemperature}}<span>&#8451;</span></p>
          </div>
      </div>
    </div>
</div>

