<div class="container">
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6 col-xs-offset-3 vertical-center border-box">
      <h2 class="text-center">Weather App</h2>
      <div *ngIf="error" class="alert alert-danger text-center">
        <p>{{error}}</p>
      </div>
      <form #authentication="ngForm" (ngSubmit)="onSubmit(authentication)">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" class="form-control" id="email" name="email" required email ngModel #email="ngModel"/>
          <span class="text-danger" *ngIf="email.errors?.['required'] && (email.touched ||email.dirty)">E-mail is required</span>
          <span  class="text-danger" *ngIf="email.errors?.['email'] && (email.touched ||email.dirty)">Correct e-mail format is required</span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" ngModel required minlength="4" #password="ngModel"/>
          <span class="text-danger" *ngIf="password.errors?.['required'] && (password.touched ||password.dirty)">Password is required</span>
          <span  class="text-danger" *ngIf="password.errors?.['minlength'] && (password.touched ||password.dirty)">Password needs to have more than 4 letters</span>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="!authentication.valid">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
