.vertical-center {
  position: relative;
  top: 10vh;
  margin-top: 10vh;
  min-height: 100vh;
}

.border-box {
  border: 1px solid #0275d8;
  border-radius: 25px;
  background-color: #eeeeee;
  box-shadow: 0 0 10px 5px #808080;
}

h2 {
  color: #0275d8;
  padding-bottom: 10px;
}

input.ng-invalid.touched {
  border: 1px solid red;
}

.weather-background {
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 20px;
}

.working-area {
  padding: 20px;
}

.weather-detail-color {
  color: #808080;
}

.img-min-height {
  min-height: 80px;
}

.bookmark-color {
  filter: invert(41%) sepia(58%) saturate(494%) hue-rotate(166deg) brightness(94%) contrast(93%);
}

.bookmark-color-no-favorite {
  filter: invert(82%) sepia(4%) saturate(4516%) hue-rotate(179deg) brightness(94%) contrast(90%);
}

.relative-position {
  position: relative;
}

.absolute-position-right {
  position: absolute;
  right: 20px;
  top: 20px;
}

.absolute-position-left {
  position: absolute;
  left: 20px;
  top: 20px;
}


.bookmark-size {
  width:40px;
}
